body{
    font-family: Arial;
    padding: 20px;
    text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

button{
    padding: 10px;
    margin-right: 10px;
}

table{
    margin: 20px auto;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
}